
body {
    margin: 0;
    padding: 0;
    font-family: "Shippori Mincho", serif;
    font-size: 16px;
    line-height: 1.5;
  }
  * {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  a {
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.2;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .page-header,
  .page-hero,
  .page-content,
  .page-footer {
    width: 100%;
  }
  .page-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #fff;
  }
  .page-header__inner,
  .page-content__inner {
    box-sizing: content-box;
  }
  .page-header {
    border-top: solid 4px #7f9916;
  }
  .page-header__inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
  .page-header .logo,
  .page-footer .logo {
    width: 256px;
  }
  .sns-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .sns-list__item {
    width: 24px;
  }
  .sns-list__item:not(:first-child) {
    margin-left: 16px;
  }
  .page-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .global-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .global-nav > .sns-list {
    margin-left: 40px;
  }
  .global-nav > .link-button {
    margin-left: 40px;
  }
  .link-button {
    display: table;
    width: 100px;
  }
  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 24px 24px 8px 24px;
}

.col-list {
    max-width: 30%;
    margin-bottom: 16px;
}
.col-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 24px 24px 8px 24px;
}

.col-list2 {
    max-width: 48%;
    margin-bottom: 16px;
}
.col-list3 {
    max-width: 48%;
    margin-bottom: 16px;
}

.col-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1000px;
    margin: 24px auto 0 auto;
    padding: 24px 24px 8px 24px;
}

.col-list4 {
    max-width: 30%;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    border-bottom: 2px solid #7f9916;
    padding-bottom: 4px;
    max-width: 400px;
}
h3 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 24px auto;
}

p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    max-width: 55%;
}

.col-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 680px;
    margin: 0 auto 0 auto;
    padding: 24px 24px 8px 24px;
}
.voice-list__item {
    border:2px solid #7f9916;
    border-radius: 8px;
    padding: 40px 24px;
    margin-bottom: 32px;


    display: flex;
}
.voice-list__itemimg{
    width: 94px;
    height: 94px;
    margin-right: 10px;
}
.p2{
  margin: auto;
  font-size: small;
}

.col-list8 {
  max-width: 1082px;
  margin-bottom: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: auto;
  margin: 24px auto 0 auto;
  padding: 24px 24px 8px 24px;
}



.col-list10{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1082px;
  margin: 24px auto 0 auto;
  padding: 24px 24px 8px 24px;
}
.col-list11{
  width: 256px;
}
.col-list12{
  margin: 0 auto 0 auto;
  padding: 24px 24px 8px 24px;
  background-color: #E9F8AD;
}
.col-list13{
  width: 45px;
}
.col-list14{
  display: flex;
  flex-wrap: wrap;
}
.col-list15{
  margin-right: 0;
  margin-left: auto;
  width: 30%;
}
.col-list16{
  width: 1080px;
  margin: 0 auto 0 auto;
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .page-heading { color: #991616;}
}

@media all and (max-width: 480px) {

  .page-heading { color: #7F9916; }
  .page-content { width: 92%;}

  .feature-list, .cost-list {  
    flex-direction: column;
    height: 100%; }

  .feature-list__item { margin: 0 auto 48px; }
  .feature-list__item h3 { margin-top: 16px; }

  .cost-list__item { max-width: 100%;}

  .company-column {  
    flex-direction: column-reverse;
    height: 100%; }

  .company-map iframe { width: 100%;}
  .global-nav { display: none; }

}